@charset "UTF-8";
/*
 Paleta de cores 

 Verde: #49a09d
 LilaÌs: #5f2c82

*/

* {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

body, html {
  background-color: rgb(233, 244, 253);
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {

  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

  transition: width 0.3s, height 0.3;
  transition-timing-function: ease;
  
  
}

section#login > div#imagem {

  display: block;
  background: #5f2c82 url(../imagens/background.jpg) no-repeat center center;
  background-size: cover;
  height: 200px;

}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

div#formulario > h2 {
  text-align: center;
  margin-bottom:  10px;

}

div#formulario > p {
  font-size: 0.8em;
}

div.campo {
  background-color: rgb(233, 244, 253);
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
}

input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: rgb(67, 142, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px 
}

input[type=submit]:hover {
  background-color: rgb(0, 102, 255);
}

a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 102, 255);;
  border: 1px solid rgb(152, 193, 255);
  border-radius: 7px;
  text-decoration: none;
  
}

a.botao:hover {
  background-color: rgb(141, 185, 250);
  color: rgb(255, 255, 255);
}

a.botao > i {
  font-size: 0.8em;
}


