@charset "UTF-8";
/*
 Paleta de cores 

 Verde: #49a09d
 LilaÌs: #5f2c82

*/

* {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

body, html {
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {

  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

  transition: width 0.3s, height 0.3;
  transition-timing-function: ease;
  
  
}

section#login > div#imagem {

  display: block;
  background: #5f2c82 url(../imagens/background.jpg) no-repeat center center;
  background-size: cover;
  height: 200px;

}

section#login > div#formulario {
  display: block;
  padding: 10px;
}


